@(units:String,
  threshold:Double,
  events:List[Event]
)

@main("Thermometer App") {
  <h1>Welcome to Justin's Thermometer App</h1>
  <h2>
    <b>Temperature Unit:</b> @units<br/>
    <b>Fluctuation Threshold:</b> @threshold
  </h2>

  <h3>Events found on input:</h3>
  <p>
    @if(events.size() > 0) {
      @for(event <- events) {
        <ul>New (<b>@event.getName</b>) Event Occurred: {<b>@event.getOccurrences times</b>}. <b>@event.getTemperature @units</b>
          reached when trending <b>@event.getTrend.getDisplayName()</b></ul>
      }
    } else {
      <ul>No events found.</ul>
    }
  </p>
}
