@(units:String,
  threshold:Double,
  output:List[String],
  events:List[Event]
)

@main("Thermometer App") {
  <h1>Welcome to Justin's Thermometer App</h1>
  <h2>
    <b>Temperature Unit:</b> @units<br/>
    <b>Fluctuation Threshold:</b> @threshold
  </h2>

  <h3>Input:</h3>
  <p>
    @for(line <- output) {
      <ul>@line</ul>
    }
  </p>

  <h3>Events:</h3>
  <p>
    @for(event <- events) {
      <ul>New (<b>@event.getName</b>) Event Occurred! <b>@event.getTemperature @units</b> reached when trending <b>@event.getTrend.getDisplayName()</b></ul>
    }
  </p>
}
